In [1]:
from bs4 import BeautifulSoup
import urllib3
import re

In [2]:
import requests
import lxml.html as lh
import pandas as pd

In [3]:
url='https://cloudbigd.com/placement/?hr_id=833'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [4]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [5]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"JOB ID"
2:"Posted Date"
3:"Specialized Area"
4:"Job Title"
5:"Location"
6:"Bench Recruiter"
7:"Options"

In [6]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 7, the //tr data is not from our table 
    if len(T)!=7:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.head(1001).drop(columns=['Options'])

,JOB ID,Posted Date,Specialized Area,Job Title,Location,Bench Recruiter
0,J12918,04/15/2019,Oracle DBA,Oracle DBA\n,"New York, NY",Robert Williams
1,J12917,04/15/2019,Mobile Application,Xamarin Developer\n,"Dallax, TX",Denise Murphy
2,J12916,04/15/2019,IOS,Unknown person\t \tMobile ...\n ...,"Cedar Rapids, IA",Denise Murphy
3,J12915,04/15/2019,Full Stack Java & UI,Java developer\n,"Bloomington, IL",Anita Bradley
4,J12914,04/15/2019,Mobile Application,Sr Mobile Developer\n,"Atlanta, GA",Denise Murphy
5,J12913,04/15/2019,Andriod,Android Developer with Xa...\n,"Chicago, IL",Denise Murphy
6,J12912,04/15/2019,Java,Java Developer\n,"Atlanta, GA",Elizbeth Smith
7,J12911,04/15/2019,Tibco,Sr TIBCO Developer\n,"Cincinnati, OH",Robert Williams
8,J12910,04/15/2019,IBM Websphere,IBM Websphere\n \n ...,"Cleveland, OH",Emma Powell
9,J12909,04/15/2019,Hadoop & Big Data,Hadoop Developer\n,"Sanjose, CA",Denise Murphy
10,J12908,04/15/2019,Business Analyst,Business Analyst\n,"Austin, TX",Ashley Walker
11,J12907,04/15/2019,Hadoop & Big Data,Hadoop Developer\n,"Phoenix, AZ",Denise Murphy
12,J12906,04/15/2019,QlikView,QlikView/QlikSense Develo...\n,"Jersey City, NJ",Robert Williams
13,J12905,04/15/2019,Informatica,Informatica\n,"Harrison, NY",Richard Miller
14,J12904,04/15/2019,Hadoop & Big Data,Big Data and Hadoop Devel...\n,"Bentonville, AR",Denise Murphy
15,J12903,04/15/2019,Hadoop & Big Data,Scala-Spark-Hadoop Develo...\n,"Jersey City, NJ",Denise Murphy
16,J12902,04/15/2019,IIB,IIB Developer\n \n ...,"Johnston, RI",Ashley Walker
17,J12901,04/15/2019,.Net & UI,.Net Developer\n,"Boston, MA",Martha Gibson
18,J12900,04/15/2019,BIG Data,Big data developer\n,"New York, NY",Virginia Adams
19,J12899,04/15/2019,Ruby On Rail,Ruby on Rails Developer\n,"Dallas, TX",Robert Williams
20,J12898,04/15/2019,Hadoop & Big Data,Hadoop Developer with Pyt...\n,"Tampa, FL",Denise Murphy
21,J12897,04/15/2019,Salesforce,Salesforce\n,"Monona, WI",Richard Miller
22,J12896,04/15/2019,SQLBI,SQL\n,"San Jose, CA",Martha Gibson
23,J12895,04/15/2019,Hadoop & Big Data,Hadoop Developer\n,"Sanjose, CA",Denise Murphy
24,J12894,04/15/2019,Full Stack Java & UI,Java developer\n \n ...,"Minneapolis, MN",Hannah roberts
25,J12893,04/15/2019,Networking,Networking\n,"Dallas, OH",Richard Miller
26,J12892,04/15/2019,Hadoop & Big Data,Big Data Developer\n,"New York, NY",Martha Gibson
27,J12891,04/15/2019,Data Engineer,Data Engineer\n,"Mento Park, CA",Ashley Walker
28,J12890,04/15/2019,Data Science,Data scientist\n,"RI-Rhode Island, WI",Virginia Adams
29,J12889,04/15/2019,Full Stack Java & UI,Java UI Developer\n,"Alpharetta, GA",Elizbeth Smith
...,...,...,...,...,...,...
971,J11947,04/15/2019,SQL,SQL Developer\n,"Dublin, OH",Thomas Taylor
972,J11946,04/15/2019,Oracle,Oracle Business Analyst\n,"Alpharetta, GA",Danielle Schmidt
973,J11945,04/15/2019,SQL,SQL Developer with Azure\n,"Houston, TX",Thomas Taylor
974,J11944,04/15/2019,Salesforce,Salesforce Developer\n,"Reading, PA",Helen Fischer
975,J11943,04/15/2019,UI,UI Developer\n \n ...,"Chicago, IL",Deborah sanders
976,J11942,04/15/2019,Mulesoft,Mulesoft Developer\n ...,"Minneapolis, MN",Natalie Griffin
977,J11941,04/15/2019,Business Analyst,Business Telecom Analyst\n,"St. Louis, MO",Danielle Schmidt
978,J11940,04/15/2019,RPA,RPA (Blueprism) Developer\n ...,"Bellevue, WA",Amanda morris
979,J11939,04/15/2019,Networking,Networking\n,"San Jose, CA",Richard Miller
980,J11938,04/15/2019,Business Analyst,Business Analyst\n ...,"Plano, TX",DonnaEvans
981,J11937,04/15/2019,QA,Quality Analyst\n \n...,"Portland, OR",Richard Miller
982,J11936,04/15/2019,ms dynamics crm,Microsoft Dynamics CRM Co...\n,"Houston, TX",Daniel Thomas
983,J11935,04/15/2019,Java,Java Developer\n,"Sunnyvale, CA",Helen Fischer
984,J11934,04/15/2019,Sharepoint,Senior SharePoint Develop...\n,"Southfield, MD",Thomas Taylor
985,J11933,04/15/2019,Full Stack Java & UI,Java full stack\n \n ...,"Chicago, IL",DonnaEvans
986,J11932,04/15/2019,UI,UI Developer\n \n ...,"San Jose, CA",Deborah sanders
987,J11931,04/15/2019,SAP,SAP HANA ABAP Developer\n,"United States, NY",charles wilson
988,J11930,04/15/2019,DevOps & AWS,Mainframe DevOps Engineer\n,"Charlotte, NC",William Brown
989,J11929,04/15/2019,Data Analyst,Sr Data Analyst\n \n ...,"Menlo Park, CA",Anita Bradley
990,J11928,04/15/2019,Full Stack Java & UI,Java Developer\n \n ...,"Irving, TX",DonnaEvans
991,J11927,04/15/2019,AWS,Bigdata AWS Developer\n,"boston, MA",Danielle Schmidt
992,J11926,04/15/2019,Sharepoint,SharePoint Developer\n,"Raleigh, NC",Thomas Taylor
993,J11925,04/15/2019,SAP S/4 Hana,SAP FICO\n,"seattle, WA",Natalie Griffin
994,J11924,04/15/2019,Sharepoint,Senior SharePoint Develop...\n,"Bala Cynwyd, PA",Thomas Taylor
995,J11923,04/15/2019,Tableau,Tableau Developer\n,"Newark, NJ",Daniel Thomas
996,J11922,04/15/2019,SAP,SAP HANA – ABAP Develop...\n ...,"Houston, TX",charles wilson
997,J11921,04/15/2019,.Net & UI,.NET Web/UI Developer\n,"Redmond, WA",Danielle Schmidt
998,J11920,04/15/2019,DevOps & AWS,Devops\n,"Hollywood, FL",Richard Miller
999,J11919,04/15/2019,Adobe(AME) CQ5,Adobe Campaign Developer\n,"Woodcliff Lake, NJ",Daniel Thomas
1000,J11918,04/15/2019,Business Analyst,Business Analyst\n,"Boston, MA",William Brown